img {
	border:2px dotted #000;
	width:500px;
	height:500px;
	margin:20px auto;
	border-radius:50%;
	animation: change_color linear 5s infinite;
}
@keyframes change_color {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}